@font-face{
    font-family: juniory;
    src:url(../fuentes/Juniory.otf);
}

@font-face {
    font-family: helvetica2;
    src: url(./fuentes/Helvetica.ttf);
}

@font-face {
    font-family: helvetica3;
    src: url(./fuentes/Helvetica-Bold.ttf);
}