html{
    background-color: white;
    scroll-behavior: smooth;
    max-width: 100vw;
    min-height: 100vh;
    
}
body { 
    max-height: 100%; 
}

*{
    margin: 0;
    padding: 0;
}


img, video{
    height: 10rem;
    width: 10rem;
}
main{
    width: 100%;
    display: inline-block;
    padding-top: 3rem;
}


.scrol{
    scroll-margin-top: 4.5rem;
}

/*******BOTON VOLVER ARRIBA*******/
.volver img{
    width: 3rem;
    height: 3rem;
}
.volver{
    position: fixed;
    z-index: 1000;
    border-radius: 100%;
    background-color: rgba(0, 128, 0, 0.719);
    top: 90%;
    left: 90%;
    cursor:pointer;
}
/**********************HEADER***********************************HEADER**************************************/
.pres{
    max-width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    padding-top: 0;
    border-bottom: solid 1.5px rgba(255, 255, 255, 0.705);

}
.fijo{
    position: fixed;
    width: 100%;
    top: -2px;
    z-index: 2;
}

.logo1{
    width: 4em;
    height: auto;
    padding: 0 1em;
}


/********************NAV**********************NAV**********************NAV*****************************/

li{
    list-style: none;
}

.barra{
    max-width: 100%;
    display: flex;
    background-color: orangered;
    width: 100%;

}

.barra1{
    display: flex;
    align-items: center;
}

.navegador{
    color: white;
    font-size: 1rem;
    text-decoration: none;
    font-family: helvetica;
    font-weight: 700;
    margin: .2em;
}

.ico2{
    width: 1.7em;
    height: 1.7em;
    padding: 1em;
}

/************************MAIN**************************************************/
/****************************BANER****************/
.sec1{
    width: 100%;
    background-color: rgb(255, 68, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagen-logo{
    display: flex;
    justify-content: center;
    width: 100%;
}
.logo{
    height: 11rem;
    width: 19rem;
}

.texto3{
    color:white;
    font-family: "helvetica";
    font-size: 2em;
    text-align: center;
}

.textop{
    color:white;
    font-family: "helvetica";
    text-align: center;
    font-size: 1.5rem;

}
.contenedor-ico{
    display: flex;
    
}
.ico{
    margin: .1em .2em;
    width: 2em;
    height: 2em;

}

/*********************************PRODUCTOS**************************/
.texto2{
    display: flex;
    justify-content: center;
    font-family: Helvetica;
    font-size: 2rem;
    color:white;

    background-color: rgba(0, 0, 255, 0.432);

}
.sec2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
}
.articulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: solid rgba(0, 0, 255, 0.432) 1px;
    border-radius: 5%;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    margin: 1%;
    padding: 2%;
    max-width: 15rem;
}

.articulo-nombre{
    font-family: helvetica;
    text-align: center;
    width: 12rem;
}
.desc-articulo{
    font-family: helvetica;
    width: 10rem;
}

.comprar{
    background-color: orangered;
    color:white;
    font-size: 1.3rem;
    border-radius: 6rem;
    border: solid 1px white;
    width: 10rem;
    cursor: pointer;
    
}

/***************************TRABAJOS HECHOS***********************/



.sec3{
    display: flex;
    width: 100%;
    height: 430px;
    background-color: rgba(0, 0, 255, 0.171);
    align-items: center;
}


.sec3 img{
    width: 0px;
    height: 410px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5 ease;
}

.sec3 img:hover{
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
    box-shadow: 10px 1px 10px 7px rgb(0, 0, 0);
}

/********RESEÑA****************************************************************/

.sec4{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin: 1rem;
    background-color: rgba(255, 68, 0, 0.342);
    border: solid 1px orangered;
    border-radius: 2rem;
}

.user{
    width: 2rem;
    height: 2rem;
    border: solid 1px black;
    border-radius: 2rem;
}

.reseña{
    margin: 0.5rem;
    height: 10rem;
    justify-items: center;
    align-content: center;

}

.reseña p{
    text-align: center;
}




/*************************************CONTACTO***********************************************/
.sec5{
    margin: 1rem;
    border: solid 1px orangered;
    padding: 1rem;
    border-radius: 2rem;
    background-color: rgba(255, 68, 0, 0.342);
}

.sec5 p{
    font-weight: bold;
    padding-bottom: 3px;
}

.texto-form{
    font-family: Helvetica;
    font-size: 1rem;
}


.formulario{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 80rem;
}
.formu{
    padding: .2rem;
    width: 15rem;
}
.formu input, textarea{
    width: 15rem;
}
.texto-form{
    font-size: 1.2rem;
    font-family: helvetica;
    color: white;
    font-weight: bold;
}
.enviar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
/*CELULAR*/
@media screen and (max-width: 479px){
    .sec5 {background-color: rgb(255, 68, 0);}
    .articulo{
        max-width: 10rem;
    }
    .volver{
        left: 85%;
        top: 90%;
    }
    .formulario{
        align-items: flex-start;
    }
    .enviar{
        align-items: flex-start;
    }
    .formu{
        width: 100%;
        padding: .2rem
    }
    .formu input, textarea{
        width: 100%;
    }
    .formu input{
        height: 1.5rem;
    }
    .sec3, .tsec3{
        display: none;
    }

    }

/*TABLET*/
@media screen and (min-width: 480px) and (max-width: 768px){
    .sec5 {
        background-image: url(../img/ssp128.jpg);
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        opacity: 0.8;
    }
    .p{
        background-color: rgba(0, 0, 0, 0.432);
        border-radius: .5rem;
    }

    .formulario{
        align-items: flex-start;
        color:white;
        font-weight: 300;
        background-color: rgba(0, 0, 0, 0.432);
        padding: 10px;
        border-radius: 2%;
    }

    .enviar{
        align-items: flex-start;
    }
    .formu{
        width: 18rem;
        padding: .2rem
    }
    .formu input, textarea{
        width: 18rem;
    }
    .formu input{
        height: 1.5rem;
    }
    .sec3, .tsec3{
        display: none;
    }
    .navegador{
        padding: 0 0.5em;
    }
    }

/*COMPUTADORA*/
@media screen and (min-width: 780px){
    .sec5 {
        background-image: url(../img/ssp-0026.jpg);
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        opacity: 0.7;
    }
    .sec5 p{
        font-weight: 600;
        font-size: 2rem;
    }
    .formulario{
        color:white;
        font-weight: 300;
        background-color: rgba(0, 0, 0, 0.432);
        padding: 10px;
        border-radius: 2%;
    }
    .navegador{
        font-size: 1.7rem;
    }
    .sec2 h3{
        font-size: 1.5rem;
    }
    .sec2 p{
        font-size: 1.3rem;
    }
    .reseña h4{
        font-size: 1.5rem;
    }
    .reseña p{
        font-size: 1.5rem;
    }
    .articulo-nombre{
        font-size: 1.3rem;
    }
    .desc-articulo{
        font-size: .9rem;
    }
    .volver{
        left: 93vw;
        top: 91vh;
    }
    .navegador{
        padding: 0 0.5em;
    }
    }



/***************************DIRECCION*******************************************************/
.sec6{
    display: flex;
    justify-content: center;
    
}
.espacio{
    max-width: 100%;
}
